- type: cached_explicit_singularity
  cache_directory: "{{ galaxy_singularity_images_cvmfs_path }}"
- type: cached_mulled_singularity
  cache_directory: "{{ galaxy_singularity_images_cvmfs_path }}"

  