<job_conf>
    <plugins workers="4">
        <plugin id="local_plugin" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner"/>
    </plugins>
    <destinations default="slurm">
        <destination id="local_destination" runner="local_plugin"/>
        <destination id="slurm" runner="slurm">
            <param id="nativeSpecification">--nodes=1 --ntasks=1 --cpus-per-task=1 --mem=4000</param>
            <param id="tmp_dir">True</param>
        </destination>
        <destination id="slurm20G" runner="slurm">
            <param id="nativeSpecification">--nodes=1 --ntasks=1 --cpus-per-task=1 --mem=20000</param>
            <param id="tmp_dir">True</param>
        </destination>
        <destination id="slurm4c" runner="slurm" tags="4cores">
            <param id="nativeSpecification">--nodes=1 --ntasks=1 --cpus-per-task=4 --mem=20000</param>
            <param id="tmp_dir">True</param>
        </destination>
        <destination id="slurm4cLM" runner="slurm" tags="4cores">
            <param id="nativeSpecification">--nodes=1 --ntasks=1 --cpus-per-task=4 --mem=50000</param>
            <param id="tmp_dir">True</param>
        </destination>
        <destination id="slurm8c" runner="slurm">
            <param id="nativeSpecification">--nodes=1 --ntasks=1 --cpus-per-task=8 --mem=20000</param>
            <param id="tmp_dir">True</param>
        </destination>
        <destination id="slurm16c" runner="slurm">
            <param id="nativeSpecification">--nodes=1 --ntasks=1 --cpus-per-task=16 --mem=20000</param>
            <param id="tmp_dir">True</param>
        </destination>
    </destinations>
    <limits>
        <limit type="destination_user_concurrent_jobs" tag="4cores">6</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm8c">3</limit>
    </limits>
     <tools>
        <tool id="bowtie2" destination="slurm4c"/>
        <tool id="cite_seq_count" destination="slurm4c"/>
        <tool id="cufflinks" destination="slurm4c"/>
        <tool id="cutadapt" destination="slurm4c"/>
        <tool id="hicup_hicup" destination="slurm8c"/>
        <tool id="hicup_mapper" destination="slurm8c"/>
        <tool id="omero_hyperstack_to_gastruloid_measurements" destination="slurm8c"/>
        <tool id="rna_star" destination="slurm4cLM"/>
        <tool id="rna_starsolo" destination="slurm4cLM"/>
        <tool id="rna_star_index_builder_data_manager" destination="slurm4cLM"/>
        <tool id="bedtools_coveragebed" destination="slurm20G"/>
     </tools>
</job_conf>
